:root {
    --black: 12, 15, 10;
    --white: 248, 249, 250;
    --yellow: 213, 160, 33;
    --lightYellow: 252, 191, 73;
    --pink: 152, 82, 119;
    --lightPink: 206, 106, 133;
    --blue: 134, 173, 197;
    --lightBlue: 168, 218, 220;
    --green: 107, 144, 128;
    --lightGreen: 164, 195, 178;
    --note: 222, 226, 230;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

.header {
    background-color: rgb(var(--blue));
    grid-row: 1 / 2;
    box-shadow: 0em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    width: 35%;
    height: 90%;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.headerRight {
    display: flex;
    width: 35%;
    height: 90%;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 50px;
}

#newBtn {
    height: 40%;
    width: 10%;
    background-color: rgb(var(--lightGreen));
    border-radius: 15%;
    border: 1px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newBtn:hover {
    background-color: rgb(var(--green));
}

#deleteBtn {
    height: 40%;
    width: 10%;
    background-color: rgb(var(--lightPink));
    border-radius: 15%;
    border: 1px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteBtn:hover {
    background-color: rgb(var(--pink));
}

.headerImg img {
    height: 50px;
    width: 50px;
}

.headerText {
    font-style: italic;
    text-decoration: underline dashed 3px;
}

.main {
    height: auto;
    background-color: rgb(var(--lightBlue));
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
    justify-items: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
}

/* Note styling */

.noteDiv {
    height: 10%;
    width: 90%;
    background-color: rgb(var(--note));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0em 0.3em 1em rgba(0,0,0,0.3);
}

.prioLight {
    height: 100%;
    width: 25%;
    background-color: rgb(var(--lightGreen));
}

.noteTextDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 0 0 10px;
}

.topic {
    text-align: start;
    padding: 0 10px;
    width: 90%;
    height: 100%;
    font-size: 1.5rem;
    border: 1px dashed black;
    background-color: rgb(var(--note));
}

.noteBtnDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    gap: 20px;
    width: 30%;
}

.doneBtn {
    height: 100%;
    width: 100%;
    background-color: rgb(var(--lightBlue));
    border-radius: 15%;
    border: 1px dotted black;
}

.doneBtn:hover {
    background-color: rgb(var(--blue));
}

.prioBtnLow {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    border: 1px dotted black;
    background-color: rgb(var(--lightGreen));
}

.prioBtnLow:hover {
    background-color: rgb(var(--green));
}


.prioBtnMid {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    border: 1px dotted black;
    background-color: rgb(var(--lightYellow));
}

.prioBtnMid:hover {
    background-color: rgb(var(--yellow));
}

.prioBtnHigh {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    border: 1px dotted black;
    background-color: rgb(var(--lightPink));
}

.prioBtnHigh:hover {    
    background-color: rgb(var(--pink));
}

/* Footer Styling */

.footer {
    background-color: rgb(var(--blue));
    box-shadow: 0em -0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.contactItemsDiv ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    list-style: none;
}